
/*<style>*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
/*</style>*/
body,label,input,p,a,button,span,strong,td,th,h1,h2,h3,h4,h5,h6,small,select{
    /*font-family: 'El Messiri' !important;*/
    font-family: 'Cairo', sans-serif !important;
}
.dataTable-info{
    /*font-family: 'El Messiri' !important;*/
    font-family: 'Cairo', sans-serif !important;
}
.font-elmessiry{
    /*font-family: 'El Messiri' !important;*/
    font-family: 'Cairo', sans-serif !important;

}
.navbar-expand-lg .navbar-collapse{
    flex-direction: row-reverse;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-sm, .navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl, .navbar>.container-xxl{
    flex-direction: row-reverse;
    justify-content: center;
}
.breadcrumb-rtl{
    flex-direction: row!important;
}
.card.card-plain{
    text-align: right;
    direction: rtl;
}
.form-control{
    text-align: right;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: left;
}

.sign-form-row-revers {
    flex-direction: row-reverse;
}

.form-switch .form-check-input:checked:after {
    transform: translateX(-21px);
}

.client-ar-dir-rtl {
    direction: rtl !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: right;
}

.me-5 {
    margin-right: 0rem !important;
}

.navbar-vertical.navbar-expand-xs.fixed-start {
    right: 0%;

}

.ms-3 {
    margin-right: 1rem !important;
}

.navbar-nav {
    padding-right: 0 !important;
    direction: rtl;
}

.me-2 {
    margin-left: 0.5rem !important;
}

.ms-1 {
    margin-right: 0.25rem !important;
}
.ms-auto{
    margin-left: 0 !important;
    margin-right: auto !important;
}

.text-end {
    text-align: left !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: revert !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: left !important;
}

.end-0 {
    left: 0 !important;
}

@media (min-width: 1200px) {
    .sidenav.fixed-start + .main-content {
        margin-right: 17.125rem !important;
        margin-left: 0rem !important;

    }

    .navbar-vertical.navbar-expand-xs.fixed-start {
        /*right: 0%!important;*/
        left: 0% !important;
        /*direction: rtl!important;*/
    }
}

@media (min-width: 576px) {
    .me-sm-6 {
        margin-right: 0rem !important;
    }
}

.ps-3 {
    margin-right: 1rem !important;
}


@media (max-width: 1199.98px) {
    .g-sidenav-show.rtl .sidenav {
        transform: translateX(-17.125rem);
    }

    .g-sidenav-show:not(.rtl) .sidenav {
        transform: translateX(17.125rem);
    }

    .g-sidenav-show .sidenav.fixed-start + .main-content {
        margin-right: 0 !important;
    }

    .g-sidenav-show.g-sidenav-pinned .sidenav {
        transform: translateX(0);
    }
}

.accordion-question {
    direction: rtl !important;
    text-align: right !important;

}

@media only screen and (max-width: 850px) {
    .accordion-question {
        text-align: right !important;
    }
}

.card-number-ltr-in-ar {
    direction: ltr !important;
}

.timeline-content {
    margin-right: 45px !important;
}

.timeline-one-side:before {
    right: 1rem!important;
}

@media (min-width: 992px){
    .timeline:before {
        right: 50%;
        margin-right: -3px;
    }
    .timeline-step{
        right: 50%;
    }
}
.timeline:before{
    right: 1rem;
    /*border-left: 2px solid #dee2e6;*/
}
.timeline-one-side .timeline-step{
    right: 1rem;
}
.timeline-step{
    right: 0;
    transform: translateX(49%)!important;
}
.time-line-ar-date{
    direction: ltr!important;
    text-align: right!important;
}
.ar-text-right{
    text-align: right;
}
.ar-padding-left-28{
  padding-left: 28px;
}
.ar-scale-x-1{
    transform: scaleX(-1);
}
.dataTable-bottom>div:first-child, .dataTable-bottom>nav:first-child, .dataTable-top>div:first-child, .dataTable-top>nav:first-child{
float: right!important;
}
.dataTable-bottom>div:last-child, .dataTable-bottom>nav:last-child, .dataTable-top>div:last-child, .dataTable-top>nav:last-child{
    float: left!important;
}
.dataTable-pagination-list{
    display: flex;
}
.dataTable-table>thead>tr>th{
    text-align: right!important;
}
.dataTable-sorter:after, .dataTable-sorter:before{
    left: -7px !important;
    right: unset!important;
}
.dataTable-selector{
    margin-left: 5px;
}
.navbar-vertical .navbar-nav .nav-link[data-bs-toggle=collapse]:after{
    margin-left: unset!important;
    margin-right: auto!important;
}
.navbar-vertical .navbar-nav .nav-item .collapse .nav .nav-item .nav-link:before, .navbar-vertical .navbar-nav .nav-item .collapsing .nav .nav-item .nav-link:before{
    left: unset!important;
    right: -18px!important;
}
.sub-nav{
    float: left;
}
.checklist-item:before{
    left: unset;
    right: 0;
}
.form-check{
    padding-left: 2.73rem!important;
}
.dropdown-menu{
    text-align: right!important;
    direction: rtl!important;
}
.list-inline, .list-unstyled{
    padding-right: 0!important;
    padding-left: unset;
}
.multisteps-form__progress-btn:after{
    right: calc(-50% - 13px / 2)!important;
}
.text-align-left{
    text-align: left!important;
}
.m-r-l-unsent{
    margin-right: unset!important;
    margin-left: unset!important;
}
.flag-first-child-ar:first-child{
    margin-left: -1rem!important;
}
.tooltip{
    font-family: 'Cairo', sans-serif !important;
}
