/* extra extra large screen start  */
@media screen and (max-width: 1400px) {}

/* extra large screen  */

@media screen and (max-width: 1200px) {}

/* large screen  */

@media screen and (max-width: 991px) {

    .navbar .container-fluid {
        justify-content: flex-start !important;
    }

    .navbar-toggler {
        margin-right: auto;
    }

    .navbar-nav .nav-link.active {
        border-bottom: unset;
    }

    .navbar-nav {
        gap: unset;
        padding-right: 10px;

    }

    .side_menu {
        padding: 50px 30px;
    }

    .container-fluid {
        padding-right: 30px;
        padding-left: 30px;
    }

    /**** Filter page **************/
    .add-category{
        margin-bottom: 25px;
    }

    /* Start of Worker withdraw Request page */
    .show-amount{
        margin-bottom: 20px;
    }
    /* End of Worker withdraw Request page */

    /* Log Out Dropdown */
    .admin-nav .dropdown-menu[data-bs-popper] {
        right: 30px;
        left: auto;
    }

}

/* medium screen  */

@media screen and (max-width: 768px) {
    footer {
        padding-top: 60px;
    }

    .form-heading {
        margin-bottom: 30px;
    }

    .page_main {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    
}

/* small screen  */

@media screen and (max-width: 576px) {
    .navbar-brand {
        margin-left: 0px;
    }

    .brand-logo {
        width: 150px;
    }

    .form_container {
        padding: 30px;
    }

    .page_continer .container-fluid {
        padding: 35px 20px;
      }

    .profile-single-info1{
        padding-left: 10px;
    }

    .tab-ul{
        padding-right: 0;
        margin-bottom: 25px;
    }
    .tab-ul .nav-link{
        color: #000;
        font-weight: 400;
        padding: 5px 10px;
    }
    /************************************************
    Start of Worker, Employer and task details page
    ************************************************/
    .profile-total {
        margin-bottom: 5px;
    }
    .main-info{
        margin-bottom: 20px;
    }
    /************************************************
    End of Worker, Employer and task details page
    ************************************************/

    /* Profile Pages */
    .user-status{
        margin-top: 20px;
    }

    /*********************************************************** 
    Start of Employer Task Proof Status Change 
    ************************************************************/
    .proofStatus {
        padding: 5px 20px;
    }
    .proof-change-btn {
        padding: 8px 20px;
        margin-right: 10px;
    }
    /*********************************************************** 
    Start of Employer Task Proof Status Change 
    ************************************************************/

}
