.elementor-148 .elementor-element.elementor-element-6f8da3a>.elementor-container {
    max-width: 1200px;
}

.elementor-148 .elementor-element.elementor-element-6f8da3a:not(.elementor-motion-effects-element-type-background),
.elementor-148 .elementor-element.elementor-element-6f8da3a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-148 .elementor-element.elementor-element-6f8da3a {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 20px 0px;
}

.elementor-148 .elementor-element.elementor-element-6f8da3a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-148 .elementor-element.elementor-element-ed0a1a3>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-d6d4a3c .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 8px;
}

.elementor-148 .elementor-element.elementor-element-d6d4a3c>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: space-evenly;
    align-items: space-evenly;
}

.elementor-148 .elementor-element.elementor-element-d6d4a3c {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-5c4d3c8>.elementor-element-populated,
.elementor-148 .elementor-element.elementor-element-5c4d3c8>.elementor-element-populated>.elementor-background-overlay,
.elementor-148 .elementor-element.elementor-element-5c4d3c8>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-148 .elementor-element.elementor-element-5c4d3c8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-5c4d3c8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-148 .elementor-element.elementor-element-bd492d8 .hfe-site-logo-container,
.elementor-148 .elementor-element.elementor-element-bd492d8 .hfe-caption-width figcaption {
    text-align: right;
}

.elementor-148 .elementor-element.elementor-element-bd492d8 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-148 .elementor-element.elementor-element-bd492d8 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-148 .elementor-element.elementor-element-381eafb .elementor-nav-menu--main .elementor-item {
    color: #818181;
    fill: #818181;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-148 .elementor-element.elementor-element-381eafb {
    --e-nav-menu-horizontal-menu-item-margin: calc( 10px / 2);
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-148 .elementor-element.elementor-element-381eafb .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 10px;
}

.elementor-148 .elementor-element.elementor-element-381eafb>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-96758f2 .elementor-nav-menu--main .elementor-item {
    color: #818181;
    fill: #818181;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-148 .elementor-element.elementor-element-96758f2 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 10px / 2);
    width: auto;
    max-width: auto;
}

.elementor-148 .elementor-element.elementor-element-96758f2 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 10px;
}

.elementor-148 .elementor-element.elementor-element-96758f2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-f7b09c2 .elementor-nav-menu--main .elementor-item {
    color: #818181;
    fill: #818181;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-148 .elementor-element.elementor-element-f7b09c2 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 10px / 2);
    width: auto;
    max-width: auto;
}

.elementor-148 .elementor-element.elementor-element-f7b09c2 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 10px;
}

.elementor-148 .elementor-element.elementor-element-f7b09c2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-fd92751>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-792ea49 {
    text-align: center;
}

.elementor-148 .elementor-element.elementor-element-792ea49 .elementor-heading-title {
    color: #4E4187;
    font-family: "Cairo", Sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 36px;
}

.elementor-148 .elementor-element.elementor-element-792ea49>.elementor-widget-container {
    margin: 0px 0px -22px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-05dfc67.elementor-social-icon {
    background-color: #02010100;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-05dfc67.elementor-social-icon i {
    color: #395185;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-05dfc67.elementor-social-icon svg {
    fill: #395185;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-e39531e.elementor-social-icon {
    background-color: #02010100;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-e39531e.elementor-social-icon i {
    color: #55ACEE;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-e39531e.elementor-social-icon svg {
    fill: #55ACEE;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-066d71c.elementor-social-icon {
    background-color: #02010100;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-066d71c.elementor-social-icon i {
    color: #FF0000;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-066d71c.elementor-social-icon svg {
    fill: #FF0000;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-2aafa6d.elementor-social-icon {
    background-color: #02010100;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-2aafa6d.elementor-social-icon i {
    color: #0A66C2;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-repeater-item-2aafa6d.elementor-social-icon svg {
    fill: #0A66C2;
}

.elementor-148 .elementor-element.elementor-element-d54f13b {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 25px;
    --grid-column-gap: 0px;
    --grid-row-gap: 0px;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-widget-container {
    text-align: center;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-social-icon {
    --icon-padding: 0.3em;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-social-icon:hover i {
    color: #806CFF;
}

.elementor-148 .elementor-element.elementor-element-d54f13b .elementor-social-icon:hover svg {
    fill: #806CFF;
}

.elementor-148 .elementor-element.elementor-element-d54f13b>.elementor-widget-container {
    margin: 0px 0px 1px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-1deb7a2 {
    text-align: center;
}

.elementor-148 .elementor-element.elementor-element-1deb7a2 .elementor-heading-title {
    color: #4E4187;
    font-family: "Cairo", Sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-button .elementor-align-icon-right {
    margin-left: 20px;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-button .elementor-align-icon-left {
    margin-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-field-group {
    padding-right: calc( 0px/2);
    padding-left: calc( 0px/2);
    margin-bottom: 0px;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-form-fields-wrapper {
    margin-left: calc( -0px/2);
    margin-right: calc( -0px/2);
    margin-bottom: -0px;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-color: var( --e-global-color-4ae4a23);
    border-radius: 5px 5px 5px 5px;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-color: var( --e-global-color-4ae4a23);
    border-radius: 5px 5px 5px 5px;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-field-group .elementor-select-wrapper::before {
    color: var( --e-global-color-4ae4a23);
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .e-form__buttons__wrapper__button-next {
    background-color: var( --e-global-color-4ae4a23);
    color: #ffffff;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-button[type="submit"] {
    background-color: var( --e-global-color-4ae4a23);
    color: #ffffff;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 .elementor-button {
    border-radius: 10px 0px 0px 10px;
    padding: 11px 0px 14px 20px;
}

.elementor-148 .elementor-element.elementor-element-ac64fc3 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-148 .elementor-element.elementor-element-5b287bb .gallery-item img {
    border-radius: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-5b287bb .gallery-item .gallery-caption {
    text-align: center;
}

.elementor-148 .elementor-element.elementor-element-5b287bb>.elementor-widget-container {
    margin: 0px 250px -30px 250px;
    padding: 35px 250px 0px 250px;
}

.elementor-148 .elementor-element.elementor-element-5b287bb {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-148 .elementor-element.elementor-element-d2a24f8 .hfe-copyright-wrapper {
    text-align: center;
}

.elementor-148 .elementor-element.elementor-element-d2a24f8 .hfe-copyright-wrapper,
.elementor-148 .elementor-element.elementor-element-d2a24f8 .hfe-copyright-wrapper a {
    font-family: "Cairo", Sans-serif;
    font-size: 12px;
    line-height: 22px;
}

.elementor-148 .elementor-element.elementor-element-d2a24f8>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
}

@media(max-width:1366px) {
    .elementor-148 .elementor-element.elementor-element-6f8da3a>.elementor-container {
        max-width: 1100px;
    }
}

@media(max-width:1200px) {
    .elementor-148 .elementor-element.elementor-element-6f8da3a>.elementor-container {
        max-width: 950px;
    }
    .elementor-148 .elementor-element.elementor-element-5b287bb>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:1024px) {
    .elementor-148 .elementor-element.elementor-element-6f8da3a>.elementor-container {
        max-width: 820px;
    }
    .elementor-148 .elementor-element.elementor-element-5b287bb>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:880px) {
    .elementor-148 .elementor-element.elementor-element-6f8da3a>.elementor-container {
        max-width: 710px;
    }
    .elementor-148 .elementor-element.elementor-element-bd492d8>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-fd92751>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-5b287bb>.elementor-widget-container {
        margin: 0px 180px 0px 180px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-d2a24f8>.elementor-widget-container {
        margin: 50px 45px -50px 45px;
    }
}

@media(max-width:767px) {
    .elementor-148 .elementor-element.elementor-element-6f8da3a {
        padding: 50px 20px 50px 20px;
    }
    .elementor-148 .elementor-element.elementor-element-d6d4a3c {
        padding: 0px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-5c4d3c8.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-148 .elementor-element.elementor-element-bd492d8 .hfe-site-logo-container,
    .elementor-148 .elementor-element.elementor-element-bd492d8 .hfe-caption-width figcaption {
        text-align: center;
    }
    .elementor-148 .elementor-element.elementor-element-381eafb>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-381eafb {
        width: var( --container-widget-width, 65%);
        max-width: 65%;
        --container-widget-width: 65%;
        --container-widget-flex-grow: 0;
    }
    .elementor-148 .elementor-element.elementor-element-96758f2>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-96758f2 {
        width: var( --container-widget-width, 65%);
        max-width: 65%;
        --container-widget-width: 65%;
        --container-widget-flex-grow: 0;
    }
    .elementor-148 .elementor-element.elementor-element-f7b09c2>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-f7b09c2 {
        width: var( --container-widget-width, 65%);
        max-width: 65%;
        --container-widget-width: 65%;
        --container-widget-flex-grow: 0;
    }
    .elementor-148 .elementor-element.elementor-element-fd92751.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-148 .elementor-element.elementor-element-fd92751>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 30px;
    }
    .elementor-148 .elementor-element.elementor-element-fd92751>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-792ea49>.elementor-widget-container {
        padding: 20px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-d54f13b .elementor-widget-container {
        text-align: center;
    }
    .elementor-148 .elementor-element.elementor-element-d54f13b {
        --grid-column-gap: 0px;
        --grid-row-gap: 0px;
    }
    .elementor-148 .elementor-element.elementor-element-d54f13b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-1deb7a2>.elementor-widget-container {
        padding: 020px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-5b287bb>.elementor-widget-container {
        margin: 0px 80px 0px 80px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-148 .elementor-element.elementor-element-5b287bb {
        width: 100%;
        max-width: 100%;
        align-self: center;
    }
    .elementor-148 .elementor-element.elementor-element-d2a24f8>.elementor-widget-container {
        padding: 20px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-148 .elementor-element.elementor-element-5c4d3c8 {
        width: 65.333%;
    }
    .elementor-148 .elementor-element.elementor-element-fd92751 {
        width: 34.584%;
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-148 .elementor-element.elementor-element-5c4d3c8 {
        width: 30%;
    }
    .elementor-148 .elementor-element.elementor-element-fd92751 {
        width: 40%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-148 .elementor-element.elementor-element-5c4d3c8 {
        width: 34%;
    }
    .elementor-148 .elementor-element.elementor-element-fd92751 {
        width: 41%;
    }
}

@media(max-width:880px) and (min-width:768px) {
    .elementor-148 .elementor-element.elementor-element-5c4d3c8 {
        width: 35%;
    }
    .elementor-148 .elementor-element.elementor-element-fd92751 {
        width: 37%;
    }
}