.elementor-50 .elementor-element.elementor-element-7661091>.elementor-container {
    max-width: 1200px;
}

.elementor-50 .elementor-element.elementor-element-7661091:not(.elementor-motion-effects-element-type-background),
.elementor-50 .elementor-element.elementor-element-7661091>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-50 .elementor-element.elementor-element-7661091 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 23px 0px 23px 0px;
    z-index: 2;
}

.elementor-50 .elementor-element.elementor-element-7661091>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-50 .elementor-element.elementor-element-f9e5235.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-f9e5235.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-f9e5235>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-50 .elementor-element.elementor-element-d796e3a .hfe-site-logo-container,
.elementor-50 .elementor-element.elementor-element-d796e3a .hfe-caption-width figcaption {
    text-align: right;
}

.elementor-50 .elementor-element.elementor-element-d796e3a .hfe-site-logo .hfe-site-logo-container img {
    width: 181px;
}

.elementor-50 .elementor-element.elementor-element-d796e3a .hfe-site-logo img {
    max-width: 100%;
}

.elementor-50 .elementor-element.elementor-element-d796e3a .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-50 .elementor-element.elementor-element-d796e3a .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-50 .elementor-element.elementor-element-d796e3a>.elementor-widget-container {
    padding: 0px 0px 0px 50px;
}

.elementor-bc-flex-widget .elementor-50 .elementor-element.elementor-element-8736d04.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-8736d04.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-8736d04>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-50 .elementor-element.elementor-element-108db3e .elementor-icon-wrapper {
    text-align: center;
}

.elementor-50 .elementor-element.elementor-element-108db3e.elementor-view-stacked .elementor-icon {
    background-color: #0099FF;
}

.elementor-50 .elementor-element.elementor-element-108db3e.elementor-view-framed .elementor-icon,
.elementor-50 .elementor-element.elementor-element-108db3e.elementor-view-default .elementor-icon {
    color: #0099FF;
    border-color: #0099FF;
}

.elementor-50 .elementor-element.elementor-element-108db3e.elementor-view-framed .elementor-icon,
.elementor-50 .elementor-element.elementor-element-108db3e.elementor-view-default .elementor-icon svg {
    fill: #0099FF;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-menu-toggle {
    margin: 0 auto;
    background-color: #02010100;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu .elementor-item {
    font-family: "Cairo", Sans-serif;
    font-weight: 600;
    line-height: 15px;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main .elementor-item {
    color: #392F65;
    fill: #392F65;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main .elementor-item:hover,
.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main .elementor-item:focus {
    color: #0099FF;
    fill: #0099FF;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #44158D;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-framed .elementor-item:before,
.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-framed .elementor-item:after {
    border-color: #44158D;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #0099FF;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-framed .elementor-item:before {
    border-width: 0px;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 0px 0px;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 0px 0px 0 0;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 0px 0 0 0px;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 0px 0px 0;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-underline .elementor-item:after,
.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-overline .elementor-item:before,
.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-double-line .elementor-item:before,
.elementor-50 .elementor-element.elementor-element-99dde1f .e--pointer-double-line .elementor-item:after {
    height: 0px;
}

.elementor-50 .elementor-element.elementor-element-99dde1f {
    --e-nav-menu-horizontal-menu-item-margin: calc( 27px / 2);
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 27px;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--dropdown a,
.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-menu-toggle {
    color: #FFFFFF;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--dropdown {
    background-color: #0099FF;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--dropdown a:hover,
.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--dropdown a.highlighted,
.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-menu-toggle:hover {
    color: #0099FF;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--dropdown a:hover,
.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--dropdown a.highlighted {
    background-color: #FFFFFF;
}

.elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #0099FF;
    background-color: #FFFFFF;
}

.elementor-50 .elementor-element.elementor-element-99dde1f div.elementor-menu-toggle {
    color: #0099FF;
}

.elementor-50 .elementor-element.elementor-element-99dde1f div.elementor-menu-toggle svg {
    fill: #0099FF;
}

.elementor-bc-flex-widget .elementor-50 .elementor-element.elementor-element-ab28bfb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-ab28bfb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-ab28bfb.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-50 .elementor-element.elementor-element-ab28bfb>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-50 .elementor-element.elementor-element-14c1e1d .elementor-button .elementor-align-icon-right {
    margin-left: 20px;
}

.elementor-50 .elementor-element.elementor-element-14c1e1d .elementor-button .elementor-align-icon-left {
    margin-right: 20px;
}

.elementor-50 .elementor-element.elementor-element-14c1e1d .elementor-button {
    font-family: "El Messiri", Sans-serif;
    font-size: 18px;
    line-height: 24px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #6D9F71;
    padding: 12px 20px 12px 20px;
}

.elementor-50 .elementor-element.elementor-element-14c1e1d .elementor-button:hover,
.elementor-50 .elementor-element.elementor-element-14c1e1d .elementor-button:focus {
    color: #6D9F71;
    background-color: #FFFFFF;
}

.elementor-50 .elementor-element.elementor-element-14c1e1d .elementor-button:hover svg,
.elementor-50 .elementor-element.elementor-element-14c1e1d .elementor-button:focus svg {
    fill: #6D9F71;
}

.elementor-50 .elementor-element.elementor-element-14c1e1d>.elementor-widget-container {
    padding: 0px 20px 0px 0px;
}

.elementor-50 .elementor-element.elementor-element-14c1e1d {
    width: auto;
    max-width: auto;
}

@media(max-width:1366px) {
    .elementor-50 .elementor-element.elementor-element-7661091>.elementor-container {
        max-width: 1110px;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:1200px) {
    .elementor-50 .elementor-element.elementor-element-7661091>.elementor-container {
        max-width: 950px;
    }
    .elementor-bc-flex-widget .elementor-50 .elementor-element.elementor-element-f9e5235.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-f9e5235.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-14c1e1d>.elementor-widget-container {
        padding: 0px 10px 0px 0px;
    }
}

@media(max-width:1024px) {
    .elementor-50 .elementor-element.elementor-element-7661091>.elementor-container {
        max-width: 820px;
    }
    .elementor-50 .elementor-element.elementor-element-d796e3a>.elementor-widget-container {
        padding: 0px 0px 0px 25px;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-14c1e1d .elementor-button {
        font-size: 16px;
    }
    .elementor-50 .elementor-element.elementor-element-14c1e1d>.elementor-widget-container {
        padding: 0px 10px 0px 0px;
    }
}

@media(max-width:880px) {
    .elementor-50 .elementor-element.elementor-element-7661091>.elementor-container {
        max-width: 710px;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu .elementor-item {
        font-size: 16px;
    }
    .elementor-50 .elementor-element.elementor-element-99dde1f {
        --e-nav-menu-horizontal-menu-item-margin: calc( 15px / 2);
    }
    .elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 15px;
    }
    .elementor-bc-flex-widget .elementor-50 .elementor-element.elementor-element-ab28bfb.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-ab28bfb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-14c1e1d .elementor-button {
        font-size: 14px;
    }
    .elementor-50 .elementor-element.elementor-element-14c1e1d>.elementor-widget-container {
        padding: 0px 10px 0px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-14c1e1d {
        align-self: center;
    }
}

@media(max-width:767px) {
    .elementor-50 .elementor-element.elementor-element-7661091 {
        padding: 23px 20px 23px 20px;
    }
    .elementor-50 .elementor-element.elementor-element-f9e5235 {
        width: 60%;
    }
    .elementor-50 .elementor-element.elementor-element-d796e3a .hfe-site-logo-container,
    .elementor-50 .elementor-element.elementor-element-d796e3a .hfe-caption-width figcaption {
        text-align: right;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04 {
        width: 40%;
    }
    .elementor-bc-flex-widget .elementor-50 .elementor-element.elementor-element-8736d04.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-108db3e .elementor-icon {
        font-size: 25px;
    }
    .elementor-50 .elementor-element.elementor-element-108db3e .elementor-icon svg {
        height: 25px;
    }
    .elementor-50 .elementor-element.elementor-element-108db3e>.elementor-widget-container {
        margin: 0px 0px -30px 20px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-108db3e {
        width: auto;
        max-width: auto;
        align-self: center;
    }
    .elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--dropdown a {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-50 .elementor-element.elementor-element-99dde1f .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 20px !important;
    }
    .elementor-50 .elementor-element.elementor-element-99dde1f .elementor-menu-toggle {
        font-size: 25px;
    }
    .elementor-50 .elementor-element.elementor-element-99dde1f {
        width: auto;
        max-width: auto;
        align-self: center;
    }
    .elementor-50 .elementor-element.elementor-element-ab28bfb.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-50 .elementor-element.elementor-element-ab28bfb>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-50 .elementor-element.elementor-element-f9e5235 {
        width: 20%;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04 {
        width: 49.332%;
    }
    .elementor-50 .elementor-element.elementor-element-ab28bfb {
        width: 30%;
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-50 .elementor-element.elementor-element-f9e5235 {
        width: 20%;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04 {
        width: 47%;
    }
    .elementor-50 .elementor-element.elementor-element-ab28bfb {
        width: 33%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-50 .elementor-element.elementor-element-f9e5235 {
        width: 20%;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04 {
        width: 50%;
    }
    .elementor-50 .elementor-element.elementor-element-ab28bfb {
        width: 30%;
    }
}

@media(max-width:880px) and (min-width:768px) {
    .elementor-50 .elementor-element.elementor-element-f9e5235 {
        width: 20%;
    }
    .elementor-50 .elementor-element.elementor-element-8736d04 {
        width: 50%;
    }
    .elementor-50 .elementor-element.elementor-element-ab28bfb {
        width: 30%;
    }
}

/* Start custom CSS for nav-menu, class: .elementor-element-99dde1f */

.e--pointer-double-line .elementor-item:after,
.e--pointer-double-line .elementor-item:before,
.e--pointer-overline .elementor-item:after,
.e--pointer-overline .elementor-item:before,
.e--pointer-underline .elementor-item:after,
.e--pointer-underline .elementor-item:before {
    height: 7px !important;
    width: 7px !important;
    background-color: #0099FF !important;
    z-index: 2;
    /*opacity: 1 !important ;*/
    position: absolute;
    border-radius: 5px !important;
    left: 50% !important;
    top: 40px !important;
}

/* End custom CSS */