/************ Start of email verification form input responsive style **********/

@media screen and (max-width: 460px) {
    .login_form .em-veri {
        padding-right: 20px !important;
    }
}

/************ End of email verification form input responsive style **********/

/************ Anchor Hover Color **********************/

.anchor-hover-color {
    width: auto;
}

.anchor-hover-color:hover {
    color: #e00b19;
}

/************* End of Anchor Hover Color **************/



footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.font_aljaz{
    font-family: 'AlJareedaTitle';
    src: url('AlJareedaTitle.woff2') format('woff2');
}
.font_JF{
font-family: JF Flat;
}

.err_text{
    color: var(--red, #EF626C);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Montserrat;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text_err_des{
color: var(--body, #555);
text-align: center;
font-family: Cairo;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;

}
.inner-div {
    background-color: #f4f4f4;
    padding: 2%;
    justify-content: center;
    align-items: center;
    text-align: right;
}
label,small{
    padding:1%;
}
input{
    padding: 1%;
    text-align: right;
}
.form-group{
    margin-bottom: 1%;
}
.active{
    text-decoration: underline 2px red;
    text-underline-offset: 10px; /* More padding */
}
.center_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_in{
    color: #09F;
text-align: center;
font-variant-numeric: lining-nums proportional-nums;
/* H1 - 48px */
font-family: JF Flat;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.input_login{
    border-radius: 8px;
    background: rgba(236, 236, 236, 0.30);
}
.create_account_link{
color: #09F;
font-family: AlJareedaTitle;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}
.borderless{
    border: none;
}
.g-recaptcha {
    display: inline-block;
  }

  #customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }
.inner-div-login {
    background-color: white;
    padding: 2%;
    justify-content: center;
    align-items: center;
    text-align: right;
    float:right;
    width: 60%;
    margin-left:20%;
    margin-right:20%;
    margin-top:4%;
    padding-bottom:8%;
    padding-top:7%;
    padding-left:7%;
    padding-right:7%
}
.outer-div-login{
    display:fixed;
    height:85%;
    width:100%;
    padding-bottom:20%;
    background-color:#CCC;
}
.input-group-text + .input-group-text {
    margin-left: 10px;
  }

.payment_icon{
    border-radius: 5px;
    background: url(<path-to-image>), lightgray 14.019px 0.787px / 56.426% 93.332% no-repeat;
}
@media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
    .inner-div-login {
        background-color: #f4f4f4;
        padding: 2%;
        justify-content: center;
        align-items: center;
        text-align: right;
        float:right;
        width: 100%;
        margin-left:0%;
        margin-right:0%;
        margin-top:1%;
        padding-bottom:8%;
        padding-top:7%;
        padding-left:7%;
        padding-right:7%
    }

    .outer-div-login{
        display:fixed;
        height:45%;
        width:100%;
        padding-bottom:20%;
        background-color:#CCC;
    }

  }
