a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.gray {
    background: #CCCCCC;
}

.page_main {
    margin-top: 120px;
    margin-bottom: 120px;
}

.upspace {
    margin-top: 125px !important;
    margin-bottom: 125px !important;
}

img.hamburger_menu {
    width: 48px;
    margin-left: 20px;
    cursor: pointer;
}

.logo img.logo_img {
    width: 250px;
}

.menuu_desktop {
    margin-right: 20px;
}

.menuu_desktop ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menuu_desktop ul li a {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ABABAB;
}

.menuu_desktop ul li {
    display: inline-block;
}

.menuu_desktop ul li a.active {
    color: #0099FF !important;
}

.relative {
    position: relative;
}

.header_button_box a {
    padding: 13px 7px;
    display: inline-block;
    width: 100px;
    /*height: 51px;*/
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.5s;
}

.theme_blu {
    background: transparent;
    border: 2px solid #0099FF;
    color: #0099FF;
}

.theme_blu:hover {
    color: #FFF;
    border: 2px solid #0099FF;
    background: #0099FF;
}

.bg-green {
    background: #6D9F71;
}

.font-10 {
    font-size: 12px;
}

.theme_green {
    background: #6D9F71;
    border: 2px solid #6D9F71;
    color: #FFF;
}

.theme_green:hover {
    color: #6D9F71;
    border: 2px solid #6D9F71;
    background: transparent;
}

.side_menuu {
    width: 300px;
    background: #fff;
    height: 100vh;
    position: fixed;
    z-index: 99;
    right: -100%;
    transition: 0.5s;
}

.px-5 {
    padding: 10px;
}

.sreach_box input::placeholder {
    color: #818181;
}

.side_menuu a {
    display: block;
    background: #fff;
    padding: 13px 20px 13px;
    text-align: right;
    text-decoration: none;
    width: 100%;
    color: #000;
    font-size: 25px;
}

.display {
    transition: 0.5s;
    right: 0 !important;
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.form_container {
    border-radius: 8px;
    padding: 120px 100px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25)
}

.blu-text {
    color: #0099FF;
}

.black-text {
    color: #000;
}

.social_btn {
    padding: 8px 4px;
    text-align: center;
    background: rgba(236, 236, 236, 0.3);
    border-radius: 8px;
    display: block;
    color: #000;
    font-size: 22px;
    margin-bottom: 10px;
}

.seprator {
    width: 100%;
    height: 1px;
    background: #000;
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
}

.seprator:after {
    content: ' أو ';
    width: 3%;
    height: 22px;
    position: absolute;
    background: #fff;
    font-size: 23px;
    top: -13px;
    left: 49%;
    text-align: center;
}

.social_btn img {
    width: 40px;
    margin-left: 10px;
}

.font-28 {
    font-size: 28px;
}

#togglePassword {
    position: absolute;
    top: 19px;
    left: 19px;
    color: #2aa9fe;
    font-size: 25px;
}

.text-red {
    color: #EF626C;
}

.font-20 {
    font-size: 20px;
}

.f_links_bottom ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}

.f_links_bottom ul a {
    display: block;
    color: #818181;
    font-weight: 400 !important;
    font-family: 'Cairo', sans-serif;
}

.f_links_bottom ul li a {
    transition: .3s linear;
    display: inline-block;
}

.f_links_bottom ul li:hover a {
    transform: scale(1.2);
}

.purple-text {
    color: #4E4187;
}

.social_links {
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* 0A66C2 */

.social_links a {
    margin: 0px 3px;
    width: 25px;
}

.social_links a svg {
    font-size: 25px;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes scaleupdown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.social_links a:hover svg {
    font-size: 18px;
    color: #806CFF;
    animation: scaleupdown 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.text-green {
    color: #6D9F71;
}

.f_links_Q_bottom a {
    padding: 16px 50px;
    border-radius: 8px;
    font-size: 20px;
}

.pay_links {
    color: #CCCCCC;
    font-family: 'Cairo', sans-serif;
}

.pay_links img {
    max-width: 60px;
}

.theme_blu_fill {
    background: #0099FF;
    color: #fff;
    border: 2px solid #0099FF;
}

.copy_right {
    margin-top: 40px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
}

.login_form select {
    background: rgba(236, 236, 236, 0.5);
    border: 0px;
    color: #000;
    text-align: right;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    padding: 20px 60px 20px 60px;
    background-image: url(../../img/down.svg);
    background-repeat: no-repeat;
    background-position: left 0.75rem center;
    background-size: 16px 12px;
}

.form-check-input:checked {
    background-color: #0099ff;
    border-color: #0099ff;
}

.form-check-input[type=checkbox] {
    padding-right: 17px !important;
    padding-bottom: 2px;
}

.text-red {
    color: #EF626C;
}

.theme_red {
    background: #EF626C;
    border: 2px solid #EF626C;
    color: #FFF;
}

.theme_red:hover {
    color: #EF626C;
    border: 2px solid #EF626C;
    background: transparent;
}

.verify_form input {
    padding-right: 10px !important;
    background: rgba(236, 236, 236, 0.3);
    border: 0px;
    color: #000;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
}

.verify_form input::placeholder {
    color: #000;
}

.des-block {
    display: inline-block;
}

.m-block {
    display: none !important;
}

.bg-blu {
    background: #0099FF;
}

.bg-red {
    background: #EF626C;
}

.white {
    background: #fff;
}

.faq_box {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.margin_minus {
    margin-top: -85px;
}

.light_gray {
    background: #fbfbfb;
}

.fotter {
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.faq_box .accordion-item {
    border-top: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 0px !important;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 8px !important;
    margin-bottom: 10px;
}

.faq_box .accordion-item h2 button {
    border-radius: 8px !important;
}

.faq_box .accordion-button:not(.collapsed) {
    color: #020202;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.faq_box .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: auto;
    content: "";
    background-image: url(../../img/down.svg);
    /* background-image: url(../images/down.svg); */
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.faq_box .accordion-collapse {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
}

.big_height {
    height: 700px;
}

.social_links ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.social_links ul li {
    display: inline-block;
}

.social_links ul li a {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    text-align: center;
    /*padding-top: 11px;*/
}

.headingg {
    margin-right: auto;
}

.w-60 {
    width: 60%;
}

.blog_box {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.blog_box img {
    border-radius: 8px;
}

.fb {
    width: 16px;
    height: 30px;
}

.tw {
    width: 32px;
    height: 25px;
}

.ln {
    width: 25px;
    height: 25px;
}

.Gm {
    width: 31px;
    height: 23px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.cario {
    font-family: 'Cairo', sans-serif;
}

.comment_form textarea {
    border: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.mission_form input {
    /* background: transparent; */
    /* border: 0px; */
    /* color: #000; */
    text-align: right;
    /* padding-top: 15px;
  padding-bottom: 15px; */
    /* border: 1px solid #686868; */
}

.mission_form input::placeholder {
    color: #000;
}

.mission_form textarea {
    background: transparent;
    /* border: 0px; */
    color: #000;
    text-align: right;
    padding-top: 11px;
    padding-bottom: 11px;
    /* border: 1px solid #686868; */
}

.mission_form textarea::placeholder {
    color: #000;
}

.nobg {
    background: transparent;
    border: 0px !important;
}

.font-14 {
    font-size: 14px;
}

.price_box {
    font-family: Cairo;
    font-size: 21px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #877F7F;
    border: 1px solid #877F7F;
    border-radius: 6px;
    Width: 66px;
    Height: 44px;
}

.fo_box {
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    height: 90px;
}

.em_form .form-check .form-check-input {
    border: 1px solid #000000 !important;
}

.em_form input {
    padding-right: 10px !important;
    background: rgba(236, 236, 236, 0.3);
    ;
    border: 0px;
    color: #000;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
}

.em_form select {
    padding-right: 10px !important;
    background: rgba(236, 236, 236, 0.3);
    ;
    border: 0px;
    color: #000;
    text-align: right;
}

.em_form .form-control {
    padding-right: 10px !important;
    background: rgba(236, 236, 236, 0.3);
    border: 0px;
    color: #000;
    text-align: right;
    padding-top: 17px;
    padding-bottom: 17px;
}

.em_form .form-control::placeholder {
    color: #000;
}

.em_form select {
    background: rgba(236, 236, 236, 0.3);
    border: 0px;
    color: #000;
    text-align: right;
    padding-top: 16px;
    padding-bottom: 17px;
    background-image: url(../../img/down.svg);
    /* background-image: url(../images/down.svg); */
    background-repeat: no-repeat;
    background-position: left 0.75rem center;
    background-size: 16px 12px;
}

img.toggle_btn {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
    display: none;
}

.worker_profile_box {
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
}

.pro_img img {
    max-width: 81px;
    max-height: 81px;
    margin-left: 10px;
}

.font-14 {
    font-size: 14px;
}

.slidee_boxx {
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
}

.drop_down_box {
    display: none;
}

.slidee_boxx h6 {
    cursor: pointer;
}

.theme_blu_fill {
    border-radius: 8px;
}

.font-16 {
    font-size: 16px;
}

.support_form input {
    background: #fff;
    border: 0px;
    color: #000;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.support_form input::placeholder {
    color: #000;
}

.support_form textarea {
    background: #fff;
    border: 0px;
    color: #000;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.support_form textarea::placeholder {
    color: #000;
}

.support_form select {
    background: #fff;
    border: 0px;
    color: #000;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

input.form-control.red_input {
    background: #EF626C;
}

input.form-control.red_input::placeholder {
    color: #fff;
}

.theme_blu_fill:hover {
    background: transparent;
    color: #0099FF;
}

.slidee_boxx h4 {
    cursor: pointer;
}

.table-responsive {
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.worker_table {
    width: 100%;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.worker_table thead {
    background: #0099FF;
    /*border-radius: 8px;*/
}

.worker_table thead th {
    padding-bottom: 9px;
    padding-top: 9px;
}

.worker_table tbody td {
    padding-bottom: 9px;
    padding-top: 9px;
}

.worker_table tbody tr {
    border-bottom: 1px solid #000;
}

.bb-0 {
    border-bottom: 0px !important;
}

.content_btn a {
    width: 200px;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
}

.button_champ a {
    width: 100px;
}

.campin_img img {
    width: 40px;
    margin-left: 10px;
}

a.cario.gray_btn.d-block.black-text.mt-3 {
    background: #FAfafa;
    padding: 10px;
    border-radius: 8px;
}

.blu_box {
    background: #0099FF;
    padding: 10px;
    border-radius: 8px;
}

img.lock_ing {
    position: absolute;
    left: -4px;
    top: -18px;
    z-index: 99;
}

.blur {
    background: rgba(0, 0, 0, 0.8);
    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
}

.buttomss_btn a {
    display: inline-block;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
}

.active_task_active {
    border-radius: 8px !important;
    border: 10px solid transparent;
    border-image: url(../images/border.png) 16 round;
}

.active_task {
    border-radius: 8px !important;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    /*border: 10px solid transparent;*/
    /*border-image: url(../images/border.png) 16 round;*/
}

.btn_boxxx p {
    font-weight: 700;
    background: #FCFCFC;
    padding: 4px 6px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-right: 10px;
    text-align: center;
}

.btn_boxxx p img {
    width: 13px;
    margin-right: 7px;
}

.content {
    position: absolute;
    top: -39px;
    left: 10%;
}

.content p {
    transform: translate(-50px, -69px);
}

img.add_plus_btn {
    position: absolute;
    left: -6px;
    bottom: -5px;
}

button.add_plus_btn {
    position: absolute;
    left: -6px;
    bottom: -6px;
    border: unset;
    background: unset;
    padding: 0;
}

img.add_plus_btn1 {
    position: absolute;
    left: -1px;
    bottom: 0px;
}

/* .sreach_box button {
  background: #fff;
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-left: 1px solid #0099FF;
  border-right: 0px;
} */

.drop_down_box .form-check {
    padding: 10px 20px;
    border-bottom: 1px solid #000;
}

.tags a {
    display: inline-block;
    margin-right: 10px;
    color: #A0A3A7;
    padding: 6px;
    margin-bottom: 5px;
    background: #fff;
    border-radius: 8px;
}

.banner {
    padding-top: 250px;
    padding-bottom: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/banner.jpg);
}

.baner_form select {
    border-radius: 0px !important;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #B9B9B9;
    background-image: url(../images/bluee.png);
    background-repeat: no-repeat;
    background-position: left 0.75rem center;
    background-size: 14px 8px;
}

.baner_form span {
    border-radius: 0px !important;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #0099FF;
    color: #fff;
    border: 0px;
}

.circle_box {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding-top: 60px;
}

.content_box h6 img {
    margin-left: 10px;
}

.faqsss_bxx .accordion-item h2 button {
    border-radius: 8px !important;
}

.faqsss_bxx .accordion-item {
    border-top: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 0px !important;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 8px !important;
    margin-bottom: 20px;
}

.button p {
    font-weight: bold;
}

.button p img {
    margin-right: 10px;
}

.Latest_avalible_mission {
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.f-bold {
    font-weight: bold;
}

.gray_boxx_section {
    padding: 130px 0px !important;
    background-image: url(../images/landing-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.blu_boxxx {
    background: #e2f1fb;
}

.gray_boxx_section1 {
    padding: 130px 0px !important;
    background-image: url(../images/landing-bg-4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Start of Home Container and home 2nd header style */

.empty-place {
    height: 220px;
    background-color: var(--secondary);
}

.home-task-main {
    background-color: #FFFFFF;
}

.home-task {
    margin-top: -100px;
}

.page-heading {
    color: var(--white);
    padding-top: 40px;
}

.mission-container {
    padding: 50px 25px;
    box-shadow: 0px 0px 10px #00000030;
}

.create-task-heading {
    margin-bottom: 40px;
    font-weight: 400;
}

/* End of Home Container and home 2nd header style */

/**********************************************************************************
Start of Create Task Style
**********************************************************************************/

.countrySelectOption .select2-container .select2-selection--single {
    height: fit-content !important;
    padding-top: 6px;
    padding-bottom: 6px;
}

.countrySelectOption .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}

/* Create Task Step 1 */

.categories {
    margin-top: 25px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 25px 15px;
    height: 100%;
    border-radius: 8px;
}

.categories .category h4 {
    font-size: 18px;
}

.categories .category p {
    font-size: 16px;
}

.category-div {
    margin-bottom: 20px;
}

.task-step-btn {
    margin-top: 100px;
}

/* Create Task Step 2 */

.mission_form label {
    padding-bottom: 5px;
}

.mission_form .mission-input .mission-input-field {
    margin-bottom: 20px;
}

/* Final Step */

.mission_form .country-radio-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country-radio-box {
    margin-top: 10px;
}

.countrySelectOption span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.create-task-img {
    width: 60px;
}

/**********************************************************************************
End of Create Task Style
**********************************************************************************/

/* Start of home Profile Dropdown */

.profile-dropdown {
    border: 0;
    background: transparent;
    color: var(--secondary);
}

.dashboard-profile-dropdown .dropdown-menu {
    text-align: right;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid var(--secondary);
}

.profile_name {
    font-weight: 400;
}

.profile-user-name {
    color: var(--secondary);
}

/* .dropdown-menu[data-bs-popper] {
  right: 30px;
} */

.dashboard-profile-dropdown .dropdown-menu li:hover a {
    background-color: var(--primary);
}

/* End of home Profile Dropdown */

/*-------------------------------------------------
Start of Browse Task Style
--------------------------------------------------*/

.browse-container {
    padding: 50px 0;
}

/* Search Box */

.sreach_box input {
    width: 100%;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #818181;
}

/* .sreach_box .btn{
  background-color: #FFFFFF;
  border: 1px solid var(--secondary);
} */

.sreach_box .btn {
    background-color: var(--secondary);
    color: #FFFFFF;
}

/* Select Option Style */

.search-select {
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 16px;
}

/* Dropdown style */

.slidee_boxx button {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.font-icon {
    color: var(--secondary);
}

.slidess_downs .dropdown-toggle::after {
    content: unset !important;
}

.drop_down_box a:hover {
    background-color: var(--secondary);
}

.dropdown-menu.show {
    /* transform: translate(0, 60px); */
    width: 100%;
}

/* Load More button */

.load-button {
    text-align: center;
}

.btn-load-more {
    padding: 10px 25px;
    border: 1px solid var(--secondary);
    margin-top: 20px;
}

.btn-load-more:hover {
    background-color: var(--secondary);
    color: #FFFFFF;
}

.mission-button {
    white-space: nowrap;
    position: relative;
    z-index: 99;
}

/* Range style */

#rangeValue {
    position: relative;
    /* display: block; */
    font-weight: 400;
}

.range {
    width: 90%;
    height: 15px;
    /* -webkit-appearance: none; */
    background: var(--secondary);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}

/* .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  border: 4px solid #333;
} */

/**************************************************************
End of Browse Task Style
*****************************************************************/

/************************************************************
Start of Select2 Style
************************************************************/

.slidee_boxx span.select2.select2-container.select2-container--default {
    width: 100% !important;
    height: 100% !important;
    padding: 12px;
}

.slidee_boxx .select2-container--default .select2-selection--multiple {
    border: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

.slidee_boxx button.select2-selection__choice__remove {
    display: flex;
    justify-content: flex-end;
}

.slidee_boxx .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    width: 22px;
}

.select2-results__options {
    font-size: 16px !important;
}

.select2-search__field {
    outline: none !important;
}

/*************************************************************
End of Select2 Style
**************************************************************/

/************************************************************
Start of Task Details Style
************************************************************/

.purul {
    color: var(--puruul);
}

.heading {
    margin-bottom: 30px;
}

.task-sections {
    margin-bottom: 30px;
}

/* Task Title Image */

.task-title-image {
    display: flex;
    align-items: center;
}

.task-image {
    max-width: 120px;
    max-height: 120px;
    margin-left: 30px;
}

.task-image img {
    height: 100%;
    width: 100%;
}

.task-title-image .task-title h4 {
    font-size: 24px;
    font-weight: 400;
}

/* Task Features */

.task-features {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.task-features .box {
    border: 1px solid var(--p2-color);
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}

.task-features .box .box-image {
    width: 22px;
}

.task-features .box .box-image img {
    height: 100%;
    width: 100%;
}

/* Task Details Info */

.task-details-info .task-details-table table td {
    line-height: 24px;
    vertical-align: baseline;
}

.task-details-info .task-details-table td {
    padding: 10px 0
}

.task-details-info .task-details-table table .table-details {
    font-size: 16px;
}

.name-td {
    padding-left: 10px !important;
}

/* Submit button */

.submit-button {
    margin-top: 30px;
}

.mission-title {
    font-size: 22px;
}

.sales_box {
    aspect-ratio: 1/1;
}

.sales_box img {
    width: 80px;
    height: 80px;
}

/****************************************************************
End of Task Details Style
*****************************************************************/

.country-dropdown {
    font-size: 16px;
}

.country-dropdown span.select2-selection__arrow {
    display: none;
}

.country-dropdown .country-arrow {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.country-dropdown .select2-container--default .select2-selection--single {
    border: none;
}

/*******************************************************************
Start of Login page Style
********************************************************************/

.inputPlaceholder::placeholder {
    opacity: 0.6;
}

/*******************************************************************
Start of Login page Style
********************************************************************/

/************************************************************************************************************************************
Start of CheckOut Page
*************************************************************************************************************************************/

/* .checkout-main {
  padding-top: 40px;
  padding-bottom: 120px;
} */

.checkout-main .checkout-row {
    --bs-gutter-x: 55px;
}

.checkout-main .counter input::-moz-placeholder {
    color: #231f20 !important;
}

.checkout-main .counter input:-ms-input-placeholder {
    color: #231f20 !important;
}

.checkout-main .counter input::placeholder {
    color: #231f20 !important;
}

@media screen and (max-width: 768px) {
    .checkout-main {
        padding-bottom: 60px;
    }
}

.checkout-main main {
    padding-top: 40px;
}

.checkout-main input[type=number]::-webkit-inner-spin-button,
.checkout-main input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.checkout-main .counter {
    justify-content: center;
}

.checkout-main .page-heading {
    margin-bottom: 50px;
}

.checkout-main .cart-item {
    min-width: 200px;
    padding-right: 40px;
}

.checkout-main .learner {
    font-weight: 500;
}

.checkout-main .price {
    text-align: right;
}

.checkout-main .coupon-box input {
    border-radius: 5px;
}

.checkout-main .coupon-box .btn-1 {
    font-size: 14px;
}

.checkout-main .checkout-col-field {
    row-gap: 30px;
}

.checkout-main .checkout-col-field input::-webkit-outer-spin-button,
.checkout-main .checkout-col-field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkout-main .heading-bar {
    padding: 10px 30px;
    background-color: #f6faff;
}

.checkout-main .checkout-row form {
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 576px) {
    .checkout-main form {
        padding: 30px 0px;
    }
}

.checkout-main form .checkout-form-btn {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .checkout-main form .checkout-form-btn {
        margin-top: unset;
    }
}

.checkout-main .bottom-table-row {
    padding-bottom: 40px;
}

.checkout-main .bottom-table {
    text-align: right;
}

.checkout-main .bottom-table td {
    font-weight: 700;
    padding: 20px 10px !important;
}

.checkout-main .table> :not(caption)>*>* {
    padding: 15px 8px;
}

.checkout-main .form-control {
    font-size: 14px;
    filter: unset !important;
}

.checkout-main .form-control:disabled {
    background-color: #ffffff;
}

.checkout-main .invalid-feedback {
    font-size: 12px;
}

.checkout-main .invalid-feedback i {
    line-height: 1;
    vertical-align: middle;
}

.checkout-main table {
    border-collapse: collapse;
    margin-bottom: 0px;
}

.checkout-main table tr td {
    vertical-align: middle;
}

.checkout-main table .form-select {
    box-shadow: unset !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    border: none !important;
    filter: unset !important;
}

.checkout-main table i {
    color: #606060 !important;
}

.checkout-main .checkout-shadow {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    padding-right: 30px;
    padding-left: 30px;
}

@media screen and (max-width: 576px) {
    .checkout-main .checkout-shadow {
        padding: 0 !important;
    }
}

.checkout-main .payment-method-row {
    padding: 30px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 576px) {
    .checkout-main .payment-method-row {
        padding: 10px 0;
        box-shadow: unset;
    }
    input.total-cost {
        width: 120px;
    }
}

.checkout-main .payment-method-row .wallet-balance {
    display: flex;
    justify-content: space-between;
}

.checkout-main .payment-method-row .wallet-balance .para-b {
    color: #231f20;
    margin-bottom: 5px;
}

/* .checkout-main .payment-method-row .wallet-balance .balance {
  text-align: end;
} */

.checkout-main .payment-method-row .reload-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.checkout-main .payment-method-row .reload-box .reload input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.checkout-main .payment-method-row .reload-box .reload p {
    color: #231f20;
}

.checkout-main .payment-method-row .reload-box .reload input {
    border: unset !important;
    outline: unset;
    background-color: transparent;
    border-bottom: 1px solid #606060 !important;
}

.checkout-main .payment-method-row .reload-box .reload input::-moz-placeholder {
    font-size: 24px;
    font-weight: 700;
    color: #cccccc;
}

.checkout-main .payment-method-row .reload-box .reload input:-ms-input-placeholder {
    font-size: 24px;
    font-weight: 700;
    color: #cccccc;
}

.checkout-main .payment-method-row .reload-box .reload input::placeholder {
    font-size: 24px;
    font-weight: 700;
    color: #cccccc;
}

.checkout-main .payment-method-row .terms {
    color: #231f20 !important;
}

.checkout-main .payment-method-row .form-check-col {
    margin-top: 40px;
}

.checkout-main .payment-method-row .form-check-col .form-check-label {
    color: #231f20;
}

.checkout-main .payment-method-row .form-check-col .form-check {
    color: #231f20;
}

.checkout-main .payment-method-row .form-check-col .btn-1 {
    font-size: 16px;
}

.checkout-main .payment-method-row .total-cost {
    height: 45px;
    margin-left: 20px;
}

.wallet-recharge {
    padding: 0 !important;
}

/***************************************************************************************************************************************
End of CheckOut Page
*****************************************************************************************************************************************/

/***************************************************************************************************
Start of Thank you page disign
****************************************************************************************************/

main.greeting-main {
    background-color: #FFFFFF;
}

.greeting-main {
    margin-top: unset;
    padding: 120px 0;
}

@media screen and (max-width: 768px) {
    .greeting-main {
        padding: 60px 0;
    }
}

.greeting-main .greeting-row .icon-lg {
    display: inline-flex;
    width: 140px;
    height: 140px;
    align-items: center;
    justify-content: center;
    background: #0eb24e;
    border-radius: 200px;
}

/* .greeting-main .greeting-row .icon-lg i {
  color: #ffffff;
  font-size: 50px;
} */

.greeting-main .greeting-row svg.svg-inline--fa.fa-check {
    font-size: 50px;
    color: #FFFFFF;
}

.greeting-main .greeting-row h1 {
    margin-top: 20px;
    color: #1c4587 !important;
}

.greeting-main .greeting-row .greeting-para {
    margin-top: 30px;
    margin-bottom: 30px;
}

.greeting-main .greeting-row .btn-group {
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width: 576px) {
    .greeting-main .greeting-row .btn-group {
        flex-wrap: wrap;
    }
}

/*************************************************************************************************
End of Thank you page disign
**************************************************************************************************/

/*************************************************************************************************
Start of Email Template Design
*************************************************************************************************/

.email-template {
    background-color: #FFFFFF;
}

.task-invoice-info {
    width: fit-content;
}
#toggleCapatch {
    position: absolute;
    top: 19px;
    left: 19px;
    color: #2aa9fe;
    font-size: 25px;
}
.captcha-image{
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    /*position: absolute;*/
    /*top: 1px;*/
    /*left: 65px;*/
    /*color: #2aa9fe;*/
    /*font-size: 25px;*/
}
.captcha-image img {
    /* Add your image styles here */
    max-width: 100%;
    height: auto;
}

/*************************************************************************************************
End of Email Template Design
*************************************************************************************************/
